@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-very-light-grey: #eae3db;
  --color-dark-slate-blue: #3b4664;
  --color-navy-blue: #252d44;
  --color-dark-blue: #181f32;
  --color-red: #d13f30;
  --font-display: 'Orbitron', sans-serif; /* 400, 600 */
  --font-calculator: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark-slate-blue);
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.calculator {
  background-color: var(--color-navy-blue);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3.2rem;
  width: 32rem;
}

.buttons-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, auto);
}

.calculator__display {
  align-items: flex-end;
  background-color: var(--color-dark-blue);
  border-radius: 1rem;
  display: flex;
  grid-column: 1 / 5;
  height: 12rem;
  justify-content: flex-end;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: right;
}

.result {
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: 3.4rem;
  font-weight: 600;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.calculator__btn {
  background-color: var(--color-very-light-grey);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  color: var(--color-navy-blue);
  font-family: var(--font-calculator);
  font-size: 2.8rem;
  font-weight: 700;
  padding: 1rem;
  transition: all 0.2s;
}

.calculator__btn:hover {
  transform: scale(1.02);
}

.calculator__btn:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.calculator__btn--operation {
  background-color: var(--color-dark-slate-blue);
  color: var(--color-white);
}

.calculator__btn--equal {
  background-color: var(--color-red);
  border: none;
  color: white;
}

.calculator__btn[char='moreless'] {
  background-color: var(--color-very-light-grey);
  color: transparent;
  position: relative;
}

.calculator__btn[char='moreless']::after {
  color: var(--color-dark-blue);
  content: '+/-';
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*-----------------*/
/* #MEDIA QUERIES */

@media screen and (min-width: 575px) {
  .calculator {
    width: 42rem;
  }

  .buttons-container {
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 50rem;
  }

  .calculator__display {
    height: 16rem;
  }

  .calculator__btn {
    padding: 1.6rem;
  }
}
